@page
@model Northwind.Web.Pages.IndexModel
@{
}


<div class="jumbotron">
    <h1 class="display-3">Welcome to Northwind Project</h1>
    <p class="lead">We supply products for our customers.</p>
    <hr/>
    <h2>This is a static HTML page.</h2>
    <p>It's @Model.DayName!</p>
    <p>Our customers include hotels, pub, etc...</p>
    <p>
        <a class="btn btn-primary"
           href="suppliers">Learn More about our suppliers</a>
    </p>
</div>
